/* main colors*/


.header {
    position: relative;
    width: 100%;
    height: 83px;
    background-color: var(--neutral-colorswhite);
    --main-color: #004EA8;
    --main-light: #ffffff;
  }
  .header .div {
    position: relative;
    width: fit-content;
    margin-top: -0.7px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--neutral-colorswhite);
    font-size: 11.2px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.7px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
  }
  
  .header .logo-style-guide-top {
    position: absolute;
    width: 184px;
    height: 24px;
    top: 29px;
    left: 77px;
  }
  
  .header .nav-list {
    display: flex;
    width: 458px;
    align-items: center;
    justify-content: flex-end;
    gap: 16.87px;
    padding: 0px 0px 0px 17.58px;
    position: absolute;
    top: 23px;
    left: 477px;
  }
  
  .header .sections {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 23.2px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -16.97px;
  }
  
  .header .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.7px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-color);
    font-size: 12.7px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.7px;
    white-space: nowrap;

    cursor: pointer;
    
  }

  .header .text-wrapper:hover {
    background-color: var(--main-color);
    color: var(--main-light);
    border-radius: 8px; /* Adjust the value as needed */
  }
  
  .header .link-list {
    display: inline-flex;
    align-items: center;
    gap: 7.03px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .vector {
    position: relative;
    width: 9.19px;
    height: 5.09px;
    margin-right: -0.49px;
  }
  
  .header .master-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5.62px;
    padding: 12.65px 16.87px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--main-light);
    border-radius: 21.09px;
    border: 0.7px solid;
    border-color: var(--neutral-colorscolor-600);
  }
  
  .header .button-text {
    position: relative;
    width: fit-content;
    margin-top: -0.7px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-color);
    font-size: 11.2px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.7px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
  }
  
  .header .master-primary {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5.62px;
    padding: 12.65px 16.87px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--main-color);
    border-radius: 21.09px;
  }
  


 /* :root {
    --colors-action-primary: rgba(67, 57, 242, 1);
    --colors-action-success: rgba(52, 181, 58, 1);
    --colors-action-info: rgba(2, 160, 252, 1);
    --colors-action-danger: rgba(255, 58, 41, 1);
    --colors-action-warning: rgba(255, 178, 0, 1);
    --colors-white-100: rgba(255, 255, 255, 1);
    --colors-light-primary: rgba(218, 215, 254, 1);
    --colors-light-danger: rgba(255, 229, 211, 1);
    --colors-light-warning: rgba(255, 245, 204, 1);
    --colors-light-success: rgba(226, 251, 215, 1);
    --colors-light-info: rgba(204, 248, 254, 1);
    --colors-grey-1: rgba(248, 248, 248, 1);
    --colors-black-100: rgba(0, 0, 0, 1);
    --neutral-colorsheadings-black: rgba(93, 90, 136, 1);
    --neutral-colorswhite: rgba(255, 255, 255, 1);
    --neutral-colorscolor-600: rgba(212, 210, 227, 1);
    --h1-font-family: "DMSans-Medium", Helvetica;
    --h1-font-weight: 500;
    --h1-font-size: 40px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "DMSans-Medium", Helvetica;
    --h2-font-weight: 500;
    --h2-font-size: 22px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h3-font-family: "DMSans-Regular", Helvetica;
    --h3-font-weight: 400;
    --h3-font-size: 20px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h4-font-family: "DMSans-Regular", Helvetica;
    --h4-font-weight: 400;
    --h4-font-size: 14px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 20px;
    --h4-font-style: normal;
    --h5-font-family: "DMSans-Regular", Helvetica;
    --h5-font-weight: 400;
    --h5-font-size: 10px;
    --h5-letter-spacing: 0px;
    --h5-line-height: 15px;
    --h5-font-style: normal;
    --text-single-100-bold-font-family: "DMSans-Bold", Helvetica;
    --text-single-100-bold-font-weight: 700;
    --text-single-100-bold-font-size: 16px;
    --text-single-100-bold-letter-spacing: 0px;
    --text-single-100-bold-line-height: 18px;
    --text-single-100-bold-font-style: normal;
    --text-single-100-regular-font-family: "DMSans-Regular", Helvetica;
    --text-single-100-regular-font-weight: 400;
    --text-single-100-regular-font-size: 16px;
    --text-single-100-regular-letter-spacing: 0px;
    --text-single-100-regular-line-height: 18px;
    --text-single-100-regular-font-style: normal;
  }*/